<!-- wp:pattern {"slug":"bizento/banner"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main
  class="wp-block-group"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"bizento/about-us"} /-->
  <!-- wp:pattern {"slug":"bizento/features"} /-->
  <!-- wp:pattern {"slug":"bizento/student-life"} /-->
  <!-- wp:pattern {"slug":"bizento/testimonials"} /-->
  <!-- wp:pattern {"slug":"bizento/attributes"} /-->
  <!-- wp:pattern {"slug":"bizento/services"} /-->
  <!-- wp:pattern {"slug":"bizento/why-us"} /-->
  <!-- wp:pattern {"slug":"bizento/faq"} /-->
  <!-- wp:pattern {"slug":"bizento/call-to-action"} /-->
  <!-- wp:pattern {"slug":"bizento/contact-us"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
